.tech-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.list:hover {
  background-color: #46045e;
  color: #f3ebf6;
}
#animation {
  transition: 0.02s all;
}
#animation:hover {
  transform: scale(1.01);
  box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.2);
}
.img {
  width: auto;
  height: 30px;
  border-radius: 15px;
}

@media only screen and (max-width: 600px) {
  .tech-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
  #m-t {
    margin-top: 15px;
    margin-left: 10px;
  }
}
@media only screen and (min-width: 600px) {
  .tech-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .tech-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .tech-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
